<div class="row p-5 d-flex justify-content-center">

  <div class="col-lg-4 col-md-4 col-sm-11 card-login">
    <h1>LOGIN</h1>
    <form class="login-form">
      <div class="row mb-3">
        <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="inputEmail">
        </div>
      </div>
      <div class="row mb-3">
        <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="inputPassword">
        </div>
      </div>
      <button type="submit" class="btn btn-primary login-btn">Login</button>
    </form>
  </div>



  <div class="col-lg-4 col-md-4 col-sm-11 card-signup">
    <h1>SIGN UP</h1>
    <form class="signup-form">
      <div class="row mb-3">
        <label for="inputName" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputName">
        </div>
      </div>
      <div class="row mb-3">
        <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="inputEmail">
        </div>
      </div>
      <div class="row mb-3">
        <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="inputPassword">
        </div>
      </div>
      <button type="submit" class="btn btn-primary signup-btn">Signup</button>
    </form>
  </div>

</div>

<script src="./js/login.js"></script>