
{{#if books}}
{{#each books as |book| }}
<div>
    <h1>My saved books:</h1>
    <div class="container col-12 d-flex">
        <div class="col-3 container">
            <p>{{book.title}}</p>
            <img id="{{book.id}}" class="img-fluid w-100 mb-3" src="" alt="">
            <button>Unsave</button>
        </div>
    </div>
</div>
{{/each}}
{{else}}
<a href="/login">You must save a book first to view this page</a>
{{/if}}

<script src="" ></script>