{{#if logged_in}}
{{savedBooks as |savedBook| }}
<div>
    <h1>My saved books:</h1>
    <div class="container col-12 d-flex">
        <div class="col-3 container">
            <p>{{savedBook.title}}</p>
            <img id="{{savedBook.id}}" class="img-fluid w-100 mb-3" src="" alt="">
            <button>Unsave</button>
        </div>
    </div>
</div>

{{else}}
<a href="/login">You must login first to view this page</a>
{{/if}}

<script src="" ></script>