
<div class="container col-12 d-flex">
    <div class="col-5 container">
        <img id="custom-img" class="img-fluid w-100 mb-3" src="https://th.bing.com/th/id/R.3e786fd5a6cbb35d2a7d0b7ff4a548a9?rik=rGSdECR1slVefA&riu=http%3a%2f%2funiverse.byu.edu%2fwp-content%2fuploads%2f2015%2f01%2fHP4cover.jpg&ehk=bpjeyWyCs9NzHWOtrp%2bvFhMgtPo6MWRgqKlwX3ksxXY%3d&risl=&pid=ImgRaw&r=0" alt="harry potter">
        <button>Save Book</button>
    </div>
    <div class="col-7 container">
        <p>booktilte</p>
        <p>author</p>
        <p>description</p>
        <p>publishdate</p>
        <form>
            <div class="mb-3">
                <label for="review" class="form-label">Review</label>
                <input type="text" class="form-control" id="reviewText" aria-describedby="reviewText">
            </div>
            <button id="reviewBtn" type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

<script src="" ></script>