#bg-custom{
    background-color: #004aad;
    border-radius: 10px;
    color: white;
    border: solid;
    border-color: #004aad;
    margin-right: 10px;
}

#logout{
    background-color: #004aad;
    border-radius: 10px;
    color: white;
    border: solid;
    border-color: #004aad;
    margin-right: 10px;
}
#custom-img{
    opacity: 0.75;
}