#nav-bar {
    padding: 0;
}

#bg-custom{
    background-color: #004aad;
    border-radius: 10px;
    color: white;
    border: solid;
    border-color: #004aad;
    margin-right: 10px;
}

.bg-custom{
    background-color: #004aad;
    border-radius: 10px;
    color: white;
    border: solid;
    border-color: #004aad;
    margin-right: 10px;
}
#logout{
    background-color: #004aad;
    border-radius: 10px;
    color: white;
    border: solid;
    border-color: #004aad;
    margin-right: 10px;
}

#custom-img{
    opacity: 0.75;
}

.card-signup, .card-login {
    border: solid 6px rgb(215, 166, 81);
    background-color: white;
    border-radius: 10px;
    margin: 12% 30px 0 30px;
    padding: 10px;
}

.login-btn, .signup-btn {
    float: right;
    background-color: #004aad;
    color: white;
}

.login-btn {
    margin-top: 53px;
}

.card-signup h1, .card-login h1{
    text-align: center;
}


@media (max-width:575px) {
    #customHeight {
        height: 200px;
    }
    .scroll {
        overflow:scroll;
        height: 200px;
    }
}

@media (min-width: 576px) { 
    #customHeight {
        height: 250px;
    }
    .scroll {
        overflow:scroll;
        height: 250px;
    }
}

@media (min-width: 768px) {
    #customHeight {
        height: 300px;
    }
    .scroll {
        overflow:scroll;
        height: 300px;
    }
}

@media (min-width: 992px) {
    #customHeight {
        height: 400px;
    }
    .scroll {
        overflow:scroll;
        height: 400px;
    }
}

@media (min-width: 1200px) {#customHeight {
    height: 500px;
}}

@media (max-width:575px) {
    
}

@media (min-width: 576px) { 
    
}

@media (max-width: 768px) {
    .disappear{
        display: none;
    }
}











.button-55 {
  align-self: center;
  background-color: rgb(250, 225, 239);
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-55:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-55:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}
