#nav-bar {
    padding: 0;
}

#bg-custom{
    background-color: #004aad;
    border-radius: 10px;
    color: white;
    border: solid;
    border-color: #004aad;
    margin-right: 10px;
}

#logout{
    background-color: #004aad;
    border-radius: 10px;
    color: white;
    border: solid;
    border-color: #004aad;
    margin-right: 10px;
}

#custom-img{
    opacity: 0.75;
}

.card-signup, .card-login {
    border: solid 6px rgb(215, 166, 81);
    background-color: white;
    border-radius: 10px;
    margin: 12% 30px 0 30px;
    padding: 10px;
}

.login-btn, .signup-btn {
    float: right;
    background-color: #004aad;
    color: white;
}

.login-btn {
    margin-top: 53px;
}

.card-signup h1, .card-login h1{
    text-align: center;
}

.scroll {
    overflow:scroll;
}

@media (max-width:575px) {
    #customHeight {
        height: 200px;
    }
}

@media (min-width: 576px) { 
    #customHeight {
        height: 250px;
    }
}

@media (min-width: 768px) {
    #customHeight {
        height: 300px;
    }
}

@media (min-width: 992px) {
    #customHeight {
        height: 400px;
    }
}

@media (min-width: 1200px) {#customHeight {
    height: 500px;
}}